body {
    background-color: lawngreen;
    text-align: center;
}

#title {
    text-align: right;
    color: black;
    font-size: 50px;
    font-family: sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

